
section .options{
    max-width: 60%;
    padding: 0 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#chama{
    width: 100%;
}
#chama .menu{
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(54, 2, 2, 0.4) 0px 2px 4px, rgba(48, 1, 1, 0.3) 0px 7px 13px -3px, rgba(238, 174, 174, 0.2) 0px -3px 0px inset;
}
#chama .menu:hover, .loc:hover{
    cursor: pointer;
    box-shadow: rgba(248, 135, 135, 0.4)0px 2px 4px, rgba(180, 180, 180, 0.3) 0px 7px 13px -3px, rgba(73, 5, 5, 0.2) 0px -3px 0px inset;
    background-color: rgba(54, 2, 2, 0.4);
}
.page p, .page a{
    font-size: 11px;
    font-weight: 500;
    color: $white-normal;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    
}
.page a{
    margin:0;
}
.page a:hover{
    text-decoration: underline;
    background-color: $dark-red;
}
.options-text, #chama h1{
    color: $green-light;
    font-size: 35px;
    margin-bottom: 10px;
}
.options-text{
    font-size: 14px;
    font-weight: 300;
    padding: 8px 0 10px 0px;
    line-height: 25px;
}
#uls p, #uls h2, .uls p, .uls h2{
    color: $white-dark;
    font-size: 13px;
    font-weight: 300;
    padding: 0;
    line-height: normal;
    
    
}
#uls p, .uls p{
    font-size: 12px;
    padding: 2px 0px 2px 11px;
    border-left: 10px solid transparent;
    margin: 5px 0px;
    letter-spacing: 0.1rem;
}
#uls p:hover, .uls p:hover{
    border-left: 10px solid $green-normal;
    background-color: $primary-light;
}
#uls h2, .uls h2{
    font-weight: 600;
    color: $green-light;
    text-transform: uppercase;
    border-left: 10px solid;
    padding-left: 10px;
    
}
.uls h2{
    color: $green-light;
}
.options-bt{
    border: 1px solid $red-dark;
    border-radius: 10px;
    padding: 4px 8px;
    background-color: $dark-red;
    color: $white-normal;
    transition: background-color 0.8s;
    display: flex;
    width: 200px;
    height: 30px;
    margin: 3px 18px;
    letter-spacing: 0.1rem;
    
}
.options-bt:hover{
    background-color: $green-light;
    color: $white-dark;
    
}
.loc{
    width: 100%;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(160, 155, 138, 0.4) 0px 2px 4px, rgba(241, 225, 3, 0.747) 0px 7px 13px -3px, rgba(41, 1, 1, 0.2) 0px -3px 0px inset;
    transition:all .7s ease;
    
}

.loc img {
    min-width: 170px;
    max-height: 170px;
    width: 30%;
    border: 2px solid gold;
    border-radius: 14px;
    opacity: 0.6;
    transition: 0.8s ease-in-out;

}
.loc img:hover{
    opacity: 1;
}
.loc span{
    font-size: 20px;
    color: $green-normal;
    margin-bottom: 8px;
}
.loc a{
    color: $green-light;
}
#uls a, .uls a{
    color: $white-dark;
    letter-spacing: .1rem;
    font-size: 100%;
}
#uls a:hover, .uls a:hover{
    color: #eff4fa;
}
.loc a:hover{
    background-color: $primary-light;
    background-position-y: 300px;
}
#uls, .uls{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px 5px 5px;
}
.uls-footer{
    padding: 2px 0px;
}
#uls .uls-footer a{
    color: $green-light;
}
#uls-images{
   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}
.evento-div{
    display: flex;
    width: 100%;
    border: 1px solid rgb(209, 178, 1);
    border-radius: 5px;
    padding: 5px;
    margin: -6px 15px 0px 15px;
}
#uls-images > div.evento-div.ter:hover{
    background: none;
}
.ter, .qua, .qui, .sex, .sab, .dom{
    display: none;
}

.uls-images div:hover:nth-child(0){
    background-color: rgb(209, 178, 1);
    color: $primary-light;
    font-weight: 600;
}
.uls-image-ter, .uls-image-qua, .uls-image-qui, .uls-image-sex, .uls-image-sab, .uls-image-dom {
    
    border: 1px solid rgb(209, 178, 1);
    border-radius: 5px;
    width: 100%;
    height: 42px;
    margin: 5px;
    padding: 13px 0px 0px 21px;
    color: $white-normal;
    font-size: 12px;
    border-left: 10px solid;
    transition:all .7s ease;
}

.elementsDiv{
    display: none;
    
}
.eventsBtn{
    border: 0;
    margin: 0;
    padding: 3px 90% 3px 0px;
    width: auto;
    background: transparent;
    color: $green-light;
    font-weight: 600;
}
.loc .uls-images .uls:hover{
    background: none;
}
#formulario {
    display: none;
    width: 100%;
    min-height: 25vh;
    border: 1px solid rgb(209, 178, 1);
    border-radius: 5px;
    padding: 5px;
    
}
#formulario:target {display: flex;}
.divsForms{
    display: flex;
    
    width: 100%;
}
.divsForms input{
    margin: 3px;
    min-width: 210px;
    width: 100%;
}
@media screen and (max-width: 490px) {
    .loc img{
        display: none;
    }
}
@media screen and (max-width: 599px) {

    .options-text, #chama h1{
        color: $green-light;
        font-size: 140%;
    }
    .page, #chama h1{
        text-align: center;
    }
    .loc{
        max-width: 348px;
        flex-direction: row-reverse;
    }
    .header-button{
        font-size: 100%;
    }
    .divsForms{
        flex-direction: column;
    }
    .divsForms input{
        width: 96%;
    }
}
@media screen and (max-width: 878px) {
    section{
        width: 100%;
        padding: 0 60px;
        justify-content: left;
    }
    section .options{
        max-width: 100%;
        padding: 3px 0px 3px 0px;
    }

    .options-text h1{
        font-size: 26px;
        font-weight: 50;
        padding: 0 0 0 3px;
    }
    .options-text h2{
        font-size: 11px;
        padding: 8px 0 15px 0;
        line-height:14px;
    }
    .loc{
        max-width: 150%;
        
    }

    #list{
        display: block;
    }
    .h-b-zap{
        display: none;
    }
}